.projects {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 900px;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
}

.projectHeader {
  font-family: "Permanent Marker";
  color: #1e3a8a;
}

.bogormen {
  object-fit: cover;
  object-position: top center;
  height: 200px;
}

.links > .gitHubLink {
  padding-right: 5px;
}

.gitHubLink {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.figmaLink {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding-left: 5px;
}

@media (min-width: 993px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
