.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: black;
}

.contactHeader {
  margin: 50px 0 20px;
}

.textContainer {
  max-width: 400px;
}

.contactText {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 1200px) {
  .contact {
    margin: 0 auto;
    max-width: 1100px;
  }
}
