.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 50px;
  padding: 10px 45px;
}

.messageHeader {
  margin: 50px 0 20px;
}

.messageText {
  text-align: center;
  max-width: 370px;
  font-size: 18px;
  margin-bottom: 20px;
}

.btnSize {
  width: 200px;
}
