.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 1.1rem;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  max-width: 900px;
}

.input,
.textarea {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: white;
  border: 2px solid #001c7a;
  border-radius: 10px;
  font-family: inherit;
  color: black;
  width: 100%;
  max-width: 350px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.input::placeholder,
.textarea::placeholder {
  color: rgba(204, 204, 204, 0.7);
}

.input:focus,
.textarea:focus {
  border-color: #0066ff;
  box-shadow: 0 0 6px rgba(0, 102, 255, 0.3);
  outline: none;
}

.btnSize {
  width: 100%;
  max-width: 350px;
}

@media (min-width: 993px) {
  .form {
    max-width: 900px;
  }
}
