.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: black;
}

.header {
  text-align: center;
  margin: 50px 0 10px;
}

.subHeader {
  width: 180px;
  text-align: center;
  margin: 5px 0 20px;
}

h2 {
  font-family: "Irish Grover", "Risque", "Poppins", sans-serif;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.btnSize {
  width: 200px;
}

@media (min-width: 993px) {
  .buttonContainer {
    flex-direction: row;
  }
}
