.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: black;
}

.header {
  text-align: center;
  margin: 50px 0 10px;
}

.subHeader {
  width: 180px;
  text-align: center;
  margin: 5px 0 20px;
}

h2 {
  font-family: "Irish Grover", "Risque", "Poppins", sans-serif;
  letter-spacing: 1.8px;
}

.imageWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.overlayText {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  font-family: "Irish Grover", "Risque", "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  pointer-events: none; /* Sikrer at teksten ikke blokerer for klik */
  transition: opacity 0.3s ease;
}

.imageWrapper:hover .overlayText {
  opacity: 0.9;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.btnSize {
  width: 250px;
}

@media (min-width: 993px) {
  .header {
    margin: 75px 0 15px;
  }

  .subHeader {
    width: 245px;
  }

  h2 {
    font-size: 30px;
  }

  .buttonContainer {
    flex-direction: row;
    margin-top: 20px;
  }
}

@media (min-width: 1500px) {
  .header {
    margin: 100px 0 15px;
  }
}
