.button {
  background-color: #001c7a;
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-family: "Irish Grover", "Risque", "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  height: 60px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: white;
  color: #001c7a;
  border: 2px solid #001c7a;
}
