.button {
  background-color: #001c7a;
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-family: "Irish Grover", "Risque", "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2.5px;
  height: 60px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.button:hover {
  background-color: white;
  color: #001c7a;
  border: 2px solid #001c7a;
}

.icon {
  display: flex;
  align-items: center;
}
