.header {
  font-family: "Risque", "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #001c7a;
  width: 100vw;
  padding: 1rem 1.5rem;
  color: white;
  position: relative;
  z-index: 10;
}

.headerInner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navDesktop {
  display: flex;
  gap: 2rem;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.burgerIcon {
  display: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 28, 122, 0.92);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}

.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.closeIcon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  color: white;
  cursor: pointer;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.mobileLink {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

@media (max-width: 992px) {
  .navDesktop {
    display: none;
  }

  .burgerIcon {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 993px) {
  .burgerIcon {
    display: none;
  }

  .overlay {
    display: none;
  }
}
