.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 auto;
}

.aboutHeader {
  margin-top: 75px;
  margin-bottom: 20px;
}

.aboutHoniPic {
  width: 200px;
  height: auto;
}

.aboutImgHoni {
  position: relative;
  display: inline-block;
}

.imgOverlay {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  font-family: "Irish Grover", "Risque", "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  pointer-events: none; /* Sikrer at teksten ikke blokerer for klik */
}

@media (min-width: 993px) {
  .aboutHoniPic {
    width: 250px;
  }
}
