.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 auto;
  height: 100%;
}

.aboutHeader {
  margin-top: 75px;
  margin-bottom: 20px;
}

.aboutHoniPic {
  width: 200px;
  height: auto;
}

.aboutImgHoni {
  position: relative;
  display: inline-block;
}

.imgOverlay {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  font-family: "Irish Grover", "Risque", "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  pointer-events: none; /* Sikrer at teksten ikke blokerer for klik */
}

.name {
  /* font-weight: 600; */
  margin-top: 10px;
}

.bold {
  font-weight: 600;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  animation:
    typing 3.5s steps(25, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typewriter.typed {
  border-right: none;
}

.profileTxt {
  width: 100%;
  max-width: 700px;
  margin: 20px auto 50px;
  padding-left: 50px;
}

.paragraph {
  margin: 10px auto;
}
@media (min-width: 993px) {
  .aboutHoniPic {
    width: 250px;
  }
}
